.grid-movie-container {
    .movie-overview {
        height: 115px;
        overflow: hidden;
    }
}

.watched-icon {
    color: $gray-400;
    cursor: pointer;
    &.active {
        color:black;
    }
}

.favorite-icon {
    color: $gray-400;
    cursor: pointer;
    &.active {
        color: orange;
    }
}
